button {
  color: white;
  background-color: rgb(122, 11, 11);
  border: none;
  border-radius:6px ;
  padding: 10px 15px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover{
  color: rgb(122, 11, 11);
  background-color: transparent;
  border: 1px solid rgb(122, 11, 11);
}
